*.o
*.d
*.a
*.so
*.dtb
*.dtb.S
# *.swp
*.bin
*.map
*.srec
*.dep
*.depend
*.su
.depend.*

/arch/mips/cpu/octeon/asm-offsets.s
/arch/mips/include/asm/arch
/include/asm
/include/autoconf.mk
/include/config.h
/include/config.mk
/include/generated/
/lib/asm-offsets.s
/tools/dtc
/tools/dtcsrc/convert-dtsv0
/tools/dtcsrc/convert-dtsv0-lexer.lex.c
/tools/dtcsrc/ftdump
/tools/dtcsrc/version_gen.h
/tools/envcrc
/tools/gen_eth_addr
/tools/mkimage
/tools/mkenvimage
/tools/ncb
/tools/update_octeon_header
/tools/kernel-doc/docproc
/tools/proftool
/u-boot.lds
/u-boot-*
model.txt
